.App {
   text-align: center;
   align-items: center;
}

.App-logo {
   animation: App-logo-spin infinite 20s linear;
   height: 80px;
}

.App-header {
   background-color: #222;
   height: 150px;
   padding: 20px;
   color: white;
}

.App-title {
   font-size: 1.5em;
}

.App-intro {
   font-size: large;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
.container {
   display: flex;

   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
   align-self: center;
}
form {
   display: flex;
   flex-direction: column;
   width: 45%;
   justify-content: center;
   align-self: center;
   padding: 2%;
   margin: 1%;
}
button {
   font-size: 1rem;
   text-decoration: none;
   background: #09d3ac;
   padding: 5px 5px;
   border-radius: 50px;
   color: white;
   margin: 1%;
   width: 35%;
   align-self: center;
}
input {
   padding: 10px 30px;
   margin: 2%;
   border: 1px solid #09d3ac;
   border-radius: 20px;
}
.card {
   background: #72f9de;
}
